name: Build mbpoll for OpenWrt 24.10

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'Enable SSH connection to GitHub Actions runner'
        required: false
        default: 'false'

env:
  #REPO_URL: https://githubfast.com/bwnqx/immortalwrt-mt798x
  REPO_URL: https://github.com/crosstool-ng/crosstool-ng
  REPO_BRANCH: master  
  CONFIG_FILE: imx280a_cross_toolchain.config
  DIY_P1_SH: install_build_package.sh  
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_COWTRANSFER: false
  UPLOAD_WETRANSFER: false
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          libncurses5-dev \
          libncursesw5-dev \
          zlib1g-dev \
          gawk \
          git \
          gettext \
          libssl-dev \
          xsltproc \
          rsync \
          wget \
          unzip \
          cmake \
          file

    - name: Download OpenWrt 24.10 SDK (mediatek filogic)
      run: |
        wget https://downloads.openwrt.org/releases/24.10.4/targets/mediatek/filogic/openwrt-sdk-24.10.4-mediatek-filogic_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        tar --use-compress-program=unzstd -xf openwrt-sdk-24.10.4-mediatek-filogic_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        mv openwrt-sdk-24.10.4-mediatek-filogic_gcc-13.3.0_musl.Linux-x86_64 openwrt-sdk


    - name: Clone mbpoll source
      run: |
        git clone https://github.com/epsilonrt/mbpoll.git


    - name: Create OpenWrt package for mbpoll
      run: |
        cd openwrt-sdk
        mkdir -p package/mbpoll
        mkdir -p package/mbpoll/patches
        cd ..
        pwd
        cp mbpoll_Makefile openwrt-sdk/package/mbpoll/Makefile
        cp mbpoll1.5.2-010-cmake.patch openwrt-sdk/package/mbpoll/patches/010-cmake-Set-minimum-required-version-to-3-5-for-CMake-4.patch

    - name: Update feeds and prepare SDK
      run: |
        cd openwrt-sdk
        ./scripts/feeds update -a
        ./scripts/feeds install libmodbus

    - name: SSH connection to Actions
      uses: P3TERX/ssh2actions@v1.0.0
      if: (github.event.inputs.ssh == 'true' && github.event.inputs.ssh  != 'false') || contains(github.event.action, 'ssh')
      env:
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}

    - name: Build mbpoll package
      run: |
        cd openwrt-sdk
        make defconfig
        make package/mbpoll/compile V=s

    - name: Collect ipk
      run: |
        mkdir -p output
        find openwrt-sdk/bin/packages -name "mbpoll*.ipk" -exec cp {} output/ \;

    - name: Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      run: |
          echo "::set-output name=release_tag::$(date +"%Y.%m.%d-%H%M")"
          touch release.txt
          echo "::set-output name=status::success"	 

    - name: Upload firmware to release
      uses: softprops/action-gh-release@v1
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        #files: ${{ env.FIRMWARE }}/*
        files: output/*.ipk

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3

    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.1.0
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}		
        
    
